body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #f2f2f2;
}

fieldset{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

legend{
    font-weight: bold;
}

label{
    display: block;
    cursor: pointer;
}

input[type="text"]{
    width: 20em;
}

input[type="radio"],
input[type="submit"],
input[type="checkbox"]{
    width: auto;
}

input[type="radio"]{
    margin-right: 1em;
}

textarea{
    width: 20em;
    height: 5em;
}