<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo-liqui.css">
    <title>Layout</title>
</head>
<body>
    <div id="container">
        <header>marca</header>
        <div id="conteudo">
            <main>
            <h2>Conteúdo Principal</h2>
                <picture>
                    <img src="imagens/natureza.jpg" width="400">
                </picture>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nisi debitis, sit quam iusto eveniet cupiditate nihil, aliquam itaque, sint quos nostrum fugit incidunt et ut assumenda earum tempora molestiae.
            </p>
            <h2>Conteúdo Principal</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nisi debitis, sit quam iusto eveniet cupiditate nihil, aliquam itaque, sint quos nostrum fugit incidunt et ut assumenda earum tempora molestiae.
            </p>
            </main>
        <div id="conteudo-secundario">
            <h2>Conteudo Secundário</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quod, minima ab dolore id dolor totam voluptate blanditiis provident recusandae! Deleniti voluptate nam dolor? Eveniet possimus minus vitae officia neque.
            </p>
        </div>
    </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Notícias</a></li>
            </ul>
        </nav>
        <footer>&copy; Rodapé &copy;</footer>
    </div>
</body>
</html>