*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

ul{
    padding: 10px;
    width: 720px;
}

ul li{
    float: left;
    background: url(../naveg-abas/imagens/aba-direita.png) no-repeat top right;
    list-style: none;
}

li a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../naveg-abas/imagens/aba-esquerda.png) no-repeat top left;
    color: #fff;
}

ul a:hover{
    color: #894a1f;
}

ul #atual{
    background: url(../naveg-abas/imagens/aba-direita-atual.png) no-repeat top right; 
}

ul #atual a{
    background: url(../naveg-abas/imagens/aba-esquerda-atual.png) no-repeat top left;
}